html {
  background-color: #f7f7ff;
}

img {
  width: 1.5em;
}

h1 {
  font-family: 'DM Serif Display', serif;
  font-weight: 800;
  font-size: 30px;
  color: #212922;
}

h2 {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  font-size: 50px;
  color: #904c77;
}

h3 {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  font-size: 25px;
  color: #212922;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #212922;
}

li {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 17px;
}

header {
  background-color: #d0e562;
}

.personal-summary {
  background-color: #f7f7ff;
}

.article-links {
  background-color: #d0e562;
}
