body {
  background-color: #fff;
  margin: 0;
}

.icon {
  width: 1.5em;
}

h1 {
  font-family: 'Trocchi', serif;
  font-weight: 600;
  font-size: 25px;
  color: #020202;
}

h2 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  font-size: 50px;
  color: #262626;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #262626;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #000;
}

li {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 17px;
}

.personal-summary {
  background-image: url('../images/gradient-background.png');
  background-size: cover;
  height: 450px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.welcome-text {
  width: 50%;
  padding-left: 30px;
}
