@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(to top, #cafbda, #96bbfe);
  background-repeat: no-repeat;
  height: 100vh;
}

header {
  display: flex;
  padding: 10px 0;
  flex-direction: column;
  align-items: center;
}

header img {
  width: 180px;
}
header ul {
  display: flex;
  padding: 0;
  margin-bottom: 0;
  gap: 10px;
}

.nav-bar li {
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 500;
}

main {
  padding: 0;
  width: 70%;
  margin: auto;
}

.main-welcome-text {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 140px 30px;
}

.about-me-container {
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 20px;
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.4);
}

@media (min-width: 577px) and (max-width: 768px) {
  header img {
    width: 250px;
  }

  header ul {
    gap: 25px;
  }

  header {
    padding: 20px 0;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  header img {
    width: 250px;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
  }

  header ul {
    margin: 0;
  }
}

@media (min-width: 993px) {
  header img {
    width: 300px;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
  }

  header ul {
    margin: 0;
    font-size: 1.2rem;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333333;
    color: #ffffff;
  }

  .about-me-container {
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 20px;
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
